<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PDC_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PDC_System.Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PDC_System.Properties.Settings>
            <setting name="AppTheme" serializeAs="String">
                <value>SystemDefalt</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>(empty)</value>
            </setting>
            <setting name="UserEmail" serializeAs="String">
                <value>(empty)</value>
            </setting>
            <setting name="UserPictureUrl" serializeAs="String">
                <value>(empty)</value>
            </setting>
            <setting name="UserPicturePath" serializeAs="String">
                <value>(empty)</value>
            </setting>
            <setting name="StartHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DB_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_User" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Port" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Table" serializeAs="String">
                <value />
            </setting>
            <setting name="isEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ETFEmployee" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ETFEmployer" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="OT_RoundMinutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TimerIntervalMinutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SendDailyReport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendAttendanceEmails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SenderPassword" serializeAs="String">
                <value>trvonxgjpentgbby</value>
            </setting>
        </PDC_System.Properties.Settings>
        <PDC_System.Settings.Settings>
            <setting name="AppTheme" serializeAs="String">
                <value>SystemDefault</value>
            </setting>
        </PDC_System.Settings.Settings>
    </userSettings>
</configuration>